#piButton{
  position: absolute;
  top: 148px;
  left: 190px;
}
#divideButton{
  position:absolute;
  left:802px;
  top:148px;
}
#multipButton{
  position:absolute;
  left:802px;
  top:299px;
}
#subtrButton{
  position:absolute;
  left:802px;
  top:450px;
}
#addiButton{
  position:absolute;
  left:802px;
  top:601px;
}
#equalButton{
  position:absolute;
  left:802px;
  top:752px;
}
#deciButton{
  position:absolute;
  left:651px;
  top:752px;
}
#buttonNumber0{
  position:absolute;
  left:349px;
  top:752px;
}
#buttonNumber1{
  position:absolute;
  left:349px;
  top:601px;
}
#buttonNumber2{
  position:absolute;
  left:500px;
  top:601px;
}
#buttonNumber3{
  position:absolute;
  left:651px;
  top:601px;
}
#buttonNumber4{
  position:absolute;
  left:349px;
  top:450px;
}
#buttonNumber5{
  position:absolute;
  left: 500px;
  top: 450px;
}
#buttonNumber6{
  position:absolute;
  left:651px;
  top:450px;
}
#buttonNumber7{
position:absolute;
left:349px;
top:299px;
}
#buttonNumber8{
position:absolute;
left:500px;
top:299px;
}
#buttonNumber9{
position:absolute;
left:651px;
top:299px;
}
#acButton{
  position:absolute;
  left:349px;
  top:148px;
}
#negateButton {
  position: absolute;
  left: 500px;
  top: 148px;
}
#percentButton {
  position: absolute;
  left: 651px;
  top: 148px;
}

button:hover {
  background-color: #d9d9d9;
  color: white;
  transition-duration: 0.69s;
}

body {
  background-color: black;
}

.calc-buttons{
  width:150px;
  height: 150px;
  background-color: #404040;
  color: white;
  border: 2px solid black;
  font-size: 48px;
  font-family: sans-serif;
  border-radius: 50%;
}
.zero-button{
  width:301px;
  height: 150px;
  background-color:  #404040;
  color: white;
  border: 2px solid black;
  font-size: 48px;
  font-family: sans-serif;
  border-radius: 75px;
  text-indent: -145px;
}
.function-buttons{
  width:150px;
  height: 150px;
  background-color: orange;
  color: white;
  border: 2px solid black;
  font-size: 48px;
  font-family: sans-serif;
  border-radius: 50%;
}
.clear-button{
  width:150px;
  height: 150px;
  background-color: #999999;
  color: black;
  border: 2px solid black;
  font-size: 48px;
  border-radius: 50%;
  font-family: sans-serif;
}

.last-buttons{
  width:150px;
  height: 150px;
  background-color: #999999;
  color: black;
  border: 2px solid black;
  font-size: 48px;
  border-radius: 50%;
  font-family: sans-serif;
}

input{
  width:599px;
  height:125px;
  position:absolute;
  left:349px;
  top:15px;
  text-align: right;
  font-size: 60px;
  color:white;
  border: solid black 2px;
  background-color: black;
}
